#danger {
 -fx-background-color: red;
}

.action {
 -fx-background-color: blue;
 -fx-text-fill: white;
}

Button {
  -fx-padding: 10 20;
  -fx-border-color: white;
  -fx-font-size: 16pt;
}

TextField {
-fx-padding: 10 30;
}
